.input {
  border: 1px solid red
}
/* 入场动画 */
.fade-enter, .fade-appear { 
  opacity: 0;
}
/* 入场动画完成之前 */
.fade-enter-active .fade-appear-active{
  opacity: 1;
  transition: opacity 1s ease-in;
}
/* 完成 */
.fade-enter-done {
  opacity: 1;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-exit-done{
  opacity: 0;
}