#skyscrapper {
    border: 1px solid black;
    height: 258px;
    width: 598px;
    overflow: hidden;
}
.box {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 10px auto; 
}
