*
  margin 0
  padding 0

.weui-cell
    padding 16px
    position relative
    display flex
    align-items:  center
    &::after,&::before             //&被上一级选择器使用
        content:""
        position absolute
        left 0
        right 0
        height 1px
        transform scaleY(0.5)       //放大0.5倍
    &::after
        bottom 0
        border-bottom 1px solid rgba(0,0,0,1)
        transform-origin 0 100%
    &::before           
        top 0
        border-top 1px solid rgba(0,0,0,.1)
        transform-origin 0 0     //基点
    .weui-cell__hd
        img
            width 20px
            margin-right 16px
            display block
    .weui-cell__bd
        flex 1
    .weui-cell__ft
        text-align  right
        color rgb(0,0,0,5) 