span{
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

.changeColor span{
  background: green;
}
.changeLength span{
  content:"length";
  margin-left: 10px;
}